<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page not found</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <header class="main-head">
        <nav class="main-head_nav">
            <ul class="main-head_item">
                <li class="list"><a class="active" href='/'>Book</a></li>
                <li class="list"><a href='/admin/add-book'>Add Book</a></li>
            </ul>
        </nav>
    </header>
    <h1>Page not found</h1>
</body>

</html>